@use 'src/styles/vars';
@import '../../styles/mixins.scss';

.category-page {
  .category-sentence {
    font-size: x-large;
    font-weight: 700;
    color: vars.$primaryColorDark;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .category-elements {
    display: flex;
    flex-direction: column;
  }

  // Element 1 : Articles
  .articles {
    &-top {
      display: none;
    }

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .article-card {
    .card {
      margin-top: 3rem;
      width: 12rem;
      height: 17rem;
    }
  }

  // Element 2 : Advices
  .advices {
    border-top: 0.1rem solid vars.$secondaryBorderColor;
    border-bottom: 0.1rem solid vars.$secondaryBorderColor;

    &-sentence {
      font-size: large;
      font-weight: 800;
      color: vars.$darkColor;
      margin-top: 1rem;
    }

    &-list {
      width: 100%;
      display: flex;
      align-items: center;
      overflow-x: scroll;
    }
  }

  .advice-card {
    width: 100%;
    .card {
      margin: 1rem 1rem 2rem 0rem;
      width: 10rem;
      height: 6rem;

      .summary {
        display: none;
      }
    }
  }

  // RESPONSIVE MD +640px =======================================================
  @include screen(sm) {
    // Element 1 : Articles
    .articles {
      &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
      }

      .article-card {
        .card {
          margin: 3rem 10.5rem;
        }
      }
    }
  }

  // RESPONSIVE LG +1024 =======================================================
  @include screen(md) {
    .category-sentence {
      font-size: x-large;
    }

    .category-elements {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .articles {
      width: 70%;

      // Element 1 : Articles
      .articles {
        &-top {
          display: contents;
        }
      }

      .article-card {
        .card {
          margin: 3rem 1.5rem;
        }
      }
    }

    .advices {
      display: flex;
      flex-direction: column;
      width: 25%;
      border: 0.1rem solid vars.$secondaryBorderColor;
      padding: 0 1rem;

      &-sentence {
        text-align: center;
        font-size: large;
        padding: 0.7rem;
      }

      &-list {
        display: flex;
        flex-direction: column;
      }
    }

    .advice-card {
      display: flex;
      justify-content: center;

      .card {
        width: 17rem;
        height: 9rem;
        margin: 1rem 1rem 2rem;

        .summary {
          display: block;
        }
      }
    }
  }
}
