@use 'src/styles/vars';
@import '../../styles/mixins.scss';

.category-page {
  margin: 2rem 2rem 2rem 2rem;
}

.category-sentence {
  color: vars.$primaryColorDark;
  font-size: large;
  font-weight: 800;
  margin-left: 2rem;
  // background-color: red;
}

.category-element {
  display: inline-block;
}

// Element 1 : LES ARTICLES ======================================
.articles {
  width: 80%;

  &-list {
    display: flex;
    flex-wrap: wrap;

    .card {
      margin: 3rem 3rem 0rem 0rem;
      width: 12rem;
      height: 18rem;
    }
  }
}

// Element 1 : LES CONSEILS ======================================

.advices {
}
