@use 'src/styles/vars';
@import '../../styles/mixins.scss';

.homepage {
  --card-width: 10rem;
  --card-height: calc(var(--card-width) * 0.6);

  position: relative;
  display: flex;
  flex-direction: column;

  .advices {
    margin-top: 1rem;
    border-bottom: 0.1rem solid #e1b902;
    border-top: 0.1rem solid #e1b902;

    &-title {
      color: #000;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 1rem 0;
    }

    .card-wrapper {
      display: flex;
      overflow-x: scroll;
      width: 100%;

      .card-inner {
        display: flex;
      }

      .card {
        width: var(--card-width);
        height: var(--card-height);
        margin: 1rem 0.5rem 2rem;

        .summary {
          display: none;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .articles {
    position: relative;
    padding: 1rem 0;

    .carousel {
      display: flex;
      margin: 0;

      .carousel-wrapper {
        display: none;
      }

      .controllers {
        margin: 1rem;
      }

      .controller {
        margin-bottom: 1rem;
        padding: 1.2rem;
      }
    }
  }

  /*
  breakpoints: 
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px
  */

  @include screen(md) {
    .advices {
      &-title {
        text-align: center;
      }

      .card-wrapper {
        justify-content: center;
        overflow-x: hidden;
      }
    }

    .articles {
      display: flex;
      justify-content: center;

      .controllers {
        width: calc(3rem + var(--card-width) * 4);
        margin: 0 auto;
      }
    }
  }

  @include screen(2xl) {
    flex-direction: column-reverse;
    .advices {
      .card-wrapper {
        .card {
          width: calc(var(--card-width) * 2);
          height: calc(var(--card-height) * 1.5);
          .summary {
            display: block;
          }
        }
      }
    }

    .articles {
      .carousel {
        margin-top: 1rem;
        .carousel-wrapper {
          display: block;
          width: calc(3rem + var(--card-width) * 4);
          margin: 0 auto;
        }
      }
    }
  }
}
