*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
  transition: all .2s linear;
  text-transform: uppercase;
}
html{
  font-size: 62.5%;
}
body{
  font-family: arial;
  overflow-x: hidden;
}
#footer{
  height: auto;
  width: 100vw;
  background-color: linear-gradient(rgba(41, 151, 65, 0.5), rgba(41, 151, 65, 0.5));
}
