@use 'src/styles/vars';
@import '../../../styles/mixins.scss';

.table {
  --table-color: #212529;
  --table-bg: transparent;
  --table-border-color: #dee2e6;
  --table-accent-bg: transparent;
  --table-striped-color: #212529;
  --table-striped-bg: rgba(0, 0, 0, 0.05);
  --table-active-color: #212529;
  --table-active-bg: rgba(0, 0, 0, 0.1);
  --table-hover-color: #212529;
  --table-hover-bg: rgba(0, 0, 0, 0.075);
  --icon-size: 1.5rem;

  display: table;
  width: 100%;
  border-spacing: 2px;
  caption-side: bottom;
  border-collapse: collapse;

  &-striped {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--table-color);
    vertical-align: top;
    border-color: var(--table-border-color);
  }

  & > thead {
    vertical-align: bottom;
  }

  & > tbody {
    vertical-align: middle;
  }

  & > :not(caption) > * > * {
    padding: 0.5rem;
    background-color: var(--table-bg);
    border-bottom-width: var(--border-width);
    box-shadow: inset 0 0 0 9999px var(--table-accent-bg);
  }

  &-striped > tbody > tr:nth-of-type(odd) > * {
    --table-accent-bg: var(--table-striped-bg);

    color: var(--table-striped-color);
  }

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: var(--table-border-color);
    border-style: solid;
    border-width: 0;
  }

  thead {
    font-weight: bold;
  }

  tr {
    vertical-align: middle;
  }

  th {
    text-align: left;
  }

  td {
    vertical-align: middle;
  }

  th:last-child,
  td:last-child {
    text-align: center;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-inner {
    display: block;

    &:hover .icon-pencil {
      border: 1px solid vars.$primaryColorHover;
      background-color: vars.$primaryColorHover;
    }

    &:hover .icon-pencil {
      border: 1px solid vars.$secondaryColorHover;
    }
  }

  img {
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 0 0.5rem;
    padding: calc(var(--icon-size) / 10);
  }

  .icon-pencil,
  .icon-trash {
    transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }

  .icon-pencil {
    border: 1px solid vars.$primaryColor;
    border-radius: 50%;
    background-color: vars.$primaryColor;
  }

  .icon-trash {
    border: 1px solid vars.$secondaryColor;
    border-radius: 50%;
    background-color: transparent;
  }

  .hidden {
    display: none;
  }

  /* sm: 640px */
  @include screen(sm) {
    --icon-size: 2rem;

    .hidden {
      display: table-cell;
    }
  }

  /* md: 768px */
  @include screen(md) {
  }

  /* md: 1024px */
  @include screen(lg) {
  }

  /* md: 1280px */
  @include screen(xl) {
  }

  /* md: 1536px */
  @include screen(2xl) {
  }
}
