@use 'src/styles/vars';
@import '../../styles/mixins.scss';

.advices {
  border-top: 0.15rem solid vars.$secondaryBorderColor;
  border-bottom: 0.15rem solid vars.$secondaryBorderColor;

  &-sentence {
    font-size: large;
    font-weight: 800;
    color: vars.$darkColor;
    margin-top: 1rem;
  }

  &-list {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;

    .advice-card {
      width: 100%;
      .card {
        background-color: #f1fcfb;
        margin: 1rem 1rem 2rem 0rem;
        width: 10rem;
        height: 6rem;

        .informations {
          .title {
            text-align: center;
            font-size: medium;
            line-height: calc(3.2rem / 3);
          }
          .category {
            // font-size: x-small;
            // border-radius: 15px;
            // padding: 0.7rem 1rem;
            display: none;
            // top: auto;
            // right: auto;
            // bottom: 0.5rem;
          }
          .summary {
            display: none;
          }
        }

        &:hover {
          background-color: white;
          transition: none;
          transform: none;
        }
      }
    }
  }

  // RESPONSIVE LG +1024 =======================================================
  @include screen(md) {
    .advices {
      display: flex;
      flex-direction: column;
      width: 25%;
      border: 0.6rem solid vars.$secondaryBorderColor;
      padding: 0 1rem;

      &-sentence {
        text-align: center;
        font-size: large;
        padding: 0.7rem;
      }

      &-list {
        display: flex;
        flex-direction: column;

        .advice-card {
          display: flex;
          justify-content: center;

          .card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 17rem;
            height: 9rem;
            margin: 0.8rem 0.5rem 1.8rem;

            .title {
              text-align: center;
              font-size: medium;
              padding-top: 1.5rem;
            }

            .category {
              display: none;
              top: auto;
              right: auto;
              bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}
