@use 'src/styles/vars';
@import '../../styles/mixins.scss';

// Vertical card ===========================================================
.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 1.2rem;

  background-color: vars.$whiteColor;
  border-radius: 15% 5% 30% 5%;
  box-shadow: 0px 0px 10px 5px vars.$shadowColorLight;
  overflow: hidden;

  .image {
    width: 100%;
    height: 50%;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .informations {
    padding: 0.7rem 1rem 0.7rem 0.7rem;

    .title {
      margin-bottom: 0.5rem;
      font-size: small;
      font-weight: 700;
      color: vars.$primaryColorDark;
    }

    .category {
      position: absolute;
      top: 0;
      right: 0;
      font-size: x-small;
      font-weight: 600;
      background-color: vars.$primaryColor;
      color: vars.$whiteColor;
      padding: 0.8rem 0.8rem 0.8rem 1.2rem;
      border-radius: 0 0 0 35px;
    }

    .summary {
      max-height: 5rem;
      overflow: hidden;
      line-height: calc(3rem / 3);
      font-size: small;
      padding-right: 1.5rem;
      color: vars.$darkTextColor;
      border-top: 0.1rem solid vars.$primaryColor;

      p {
        text-align: left;
      }
    }
  }
  &:hover {
    background: white;
    background-color: #f1fcfb;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }

  // Horizontal card ===========================================================
  &[data-format='horizontal'] {
    display: flex;
    width: 100%;
    height: 8rem;
    border-radius: 10px;
    padding-bottom: 0;

    .image {
      width: 30%;
      height: 100%;
    }

    .informations {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 1.8rem;

      .title {
        font-size: medium;
      }

      .category {
        padding: 0.7rem 1.5rem 0.7rem 1rem;
        left: 0;
        right: auto;
        border-radius: 0 0 35px 0;
      }

      .summary {
        font-size: medium;
        color: vars.$darkTextColor;
        max-height: 4rem;
        overflow: hidden;
        padding-right: 0;
      }
    }

    &:hover {
      background-color: #f1fcfb;
      transform: none;
      transition: none;
    }
  }
}
