.form {
  position: relative;

  &-input {
    --form-bg: #fff;
    --form-font-size: 1rem;
    --form-padding-x: 0.75rem;
    --form-padding-y: 0.375rem;
    --form-color: inherit;
    --form-font-weight: 400;
    --form-border-radius: 0.375rem;
    --form-border-color: transparent;
    --form-line-height: 1.5;
    --form-border-color: #dee2e6;

    display: block;
    width: 100%;
    padding: var(--form-padding-y) var(--form-padding-x);
    font-size: var(--form-font-size);
    font-weight: var(--form-font-weight);
    line-height: var(--form-line-height);
    color: var(--form-color);
    border-radius: var(--form-border-radius);
    border: 1px solid var(--form-border-color);
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--form-bg);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      border-color: var(--form-focus-border-color);
      & + .form-label {
        color: var(--form-label-color);
      }
    }
  }

  &-label {
    --form-label-color: inherit;

    display: none;
    position: absolute;
    top: 0.2rem;
    left: 0.7rem;
    color: var(--form-label-color);
    font-size: 0.7em;
    text-transform: uppercase;
    animation: labelSlideUpAndShow 0.3s ease-in-out;

    &-default {
      --form-label-color: #a8adb1;
    }

    // use the default colors in the vars.scss file if they have been defined.
    &-primary {
      --form-label-color: #6f8612;
    }

    // use the default colors in the vars.scss file if they have been defined.
    &-secondary {
      --form-label-color: #2f5c4e;
    }
  }

  &-completed {
    .form-label {
      display: block;
    }
    .form-input {
      padding: 1.4em 0.7em 0.4em;
    }
  }

  &-default {
    --form-focus-border-color: #a8adb1;
  }

  // use the default colors in the vars.scss file if they have been defined.
  &-primary {
    --form-focus-border-color: #6f8612;
  }

  // use the default colors in the vars.scss file if they have been defined.
  &-secondary {
    --form-focus-border-color: #2f5c4e;
  }
}

@keyframes labelSlideUpAndShow {
  0% {
    transform: translateY(1em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}
