@use 'src/styles/vars';
@use 'sass:color';
@import '../../styles/mixins.scss';

.navbar {
  --logo-size: 48px;
  --navbar-padding-x: 0;
  --navbar-padding-y: 0.5rem;
  --navbar-color: #fff;
  --navbar-height: 76px;
  --brand-font-size: 1rem;
  --nav-link-padding-x: 0.5rem;
  --toogler-size: 1.5em;
  --toggler-padding-y: 0.25rem;
  --toggler-padding-x: 0.75rem;
  --toggler-font-size: 1.25rem;
  --toggler-border-radius: 0.375rem;
  --toggler-focus-width: 0.25rem;
  --toggler-transition: box-shadow 0.15s ease-in-out;

  position: relative;
  padding: var(--navbar-padding-y) var(--navbar-padding-x);
  color: var(--navbar-color);
  background-color: vars.$primaryColor;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 900; /* important */

  &-container {
    --gutter-x: 1rem;

    width: 100%;
    margin: 0 var(--gutter-x);
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  &-brand {
    font-size: var(--brand-font-size);
    color: var(--brand-color);
    text-decoration: none;
    white-space: nowrap;
    line-height: var(--navbar-height);

    a {
      vertical-align: middle;
      display: inline-block;
      height: var(--logo-size);

      img {
        margin-right: 0.325rem;
        width: var(--logo-size);
        height: var(--logo-size);
        object-fit: cover;
      }
    }
  }

  &-toggler {
    padding: var(--navbar-toggler-padding-y) var(--navbar-toggler-padding-x);
    font-size: var(--navbar-toggler-font-size);
    line-height: 1;
    color: var(--navbar-color);
    background-color: transparent;
    border: var(--border-width) solid var(--navbar-toggler-border-color);
    border-radius: var(--navbar-toggler-border-radius);
    transition: var(--navbar-toggler-transition);

    &-icon {
      display: inline-block;
      width: var(--toogler-size);
      height: var(--toogler-size);
      vertical-align: middle;
    }

    &-user-icon {
      display: inline-block;
      width: var(--logo-size);
      height: var(--logo-size);
      vertical-align: middle;
      border-radius: 50%;
    }
  }

  .menu {
    position: relative;
    /* TODO: adding horizontal menu here */
    &-collapse {
      display: none;
      flex-basis: 100%;
      flex-grow: 1;
      border-top: 1px solid rgba(255, 255, 255, 0.325);
      margin: 1rem 0 0;
      padding: 1rem 0 0;

      &.show {
        display: block;
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;
    }

    &-item {
      text-align: center;
      list-style: none;
      padding-bottom: 1rem;
      display: list-item;

      a {
        display: block;
        padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
        color: inherit;
        text-decoration: none;
      }

      button {
        color: inherit;
        font-size: 1rem;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }

      a,
      button {
        &:hover,
        &:active,
        &:focus {
          transition: var(--transition);
          color: color.scale(#fff, $lightness: -20%);
        }
      }

      &.dropdown {
        position: relative;

        &:after {
          display: inline-block;
          content: '';
          margin-left: 0.255em;
          vertical-align: 0.255em;
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
      }

      &:hover,
      &:active,
      &:focus {
        transition: var(--transition);
        color: color.scale(#fff, $lightness: -20%);
      }
    }

    .dropdown-menu {
      display: none;

      &.show {
        display: block;
      }
    }
  }
}
