@use 'src/styles/vars';
@import '../../styles/mixins.scss';

.settings {
  position: relative;
  width: 100%;

  /* sm: 640px */
  @include screen(sm) {
    .account {
      --avatar-size: 8rem;
    }
    .table {
      --icon-size: 2rem;

      .hidden {
        display: table-cell;
      }
    }
  }

  /* md: 768px */
  @include screen(md) {
    .account {
      &-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

      &-user,
      &-controllers {
        align-self: end;
        justify-self: center;
      }
    }
  }

  /* unused breakpoints lg: 1024px */

  /* unused breakpoints xl: 1280px */

  /* 2xl: 1536px */
  @include screen(2xl) {
    .account {
      &-inner {
        max-width: 75%;
      }
    }
  }
}
