@import 'src/styles/_vars.scss';
@import '../../styles/mixins.scss';

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  
  img {
    width: 23rem;
  }

  p {
    font-size: 2rem;
    color: $primaryColor;
    margin-bottom: 4rem;
  }
}

  /* md: 768px */
  @include screen(md) {
    .not-found-container { 
      img {
        width: 50rem;
      }
      p {
        font-size: 3rem;
      }
    }
  }
