$primary-color: #2e8540;
$secondary-color: #cfe5d6;
$error-color: #e03131;

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 10rem;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  p {
    font-size: 2rem;
    color: $secondary-color;
    margin-bottom: 4rem;
  }

  a {
    font-size: 1.6rem;
    color: $primary-color;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px 35px 68px 0px rgba(126, 211, 33, 0.5), inset 0px -12px 16px 0px rgba(126, 211, 33, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);

    &:hover {
      color: $primary-color;
    }
  }
}
